//Ici on définit les paramètres de couleurs, on se sert de la charte graphique conçue au prélable 

$primary: #52B207;
$secondary: #E0E4EB;
$dark: #2A2B2E;
$black: #000000;
$font-family-sans-serif: "Montserra", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;
$font-family: "Outfit", serif !default;
