@import 'custom';

/*Rendre le site responsive*/
@media screen and (max-width:767px){
    /*Inclure les règles css*/

    .nav-link{
        display: none; /* Cache les liens par défaut*/
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }
}







/*Paramètres CSS de la page d'accueil*/


html {
    min-height: 100%;
    position: relative;
    
   }

main {
    margin-bottom: 150px;
    margin-top: -20px;

    
    
    
}

/*Réglage du header*/
nav {
    background-color: #2A2B2E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    padding: 0;
    
   
}

/*Réglage du menu de navigation*/

 ul {
     list-style-type: none;
     display:flex;
     justify-content: center;
     padding:20px;
     flex: wrap;
    
     
     }

     ul li {
        margin: 0 10px;
    }
     .nav-link {
        text-decoration: none;
        color: white;
     }


/*Réglage du body*/
body {
    
    flex-direction: column;
    margin: 0;
}

    



/*Réglage du footer*/
footer{
    background-color: #2A2B2E;
    text-align: center;
    color: white;
    display: flex;
   justify-content: space-around;
      position: absolute;
    padding: 0px;
   bottom: 0px;
    margin: 0px;
    width: 100%;
    }


    /*Réglage du hero scène*/
    .hero-scene{
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        height: 400px;
        
        &::before{
            content:"";
            position: absolute;
            top: 0px;
            left:0;
            width: 100%;
            height: 100%;
            background-image: url(../Images/HEAD_ZEBRE.jpg);
            background-position:center;
            background-size: cover;
            filter: brightness(0.3);
           
            
        }
*{
    /*Positionner les éléments devant le ::before*/
    position: relative;
}

/*Paramètre du contenant de la cover*/
.hero-scene-content{
    height: 330px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
}

.btn-cover{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    
    
}
}


/*Paramètre des boutons*/
.btn {
    background-color: #52B207;
    color: white;
    border-radius: 40px;
    width: 90px;
    height: 25px;
}




.title-green {
    font-family: "Indie Flower", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #52B207;
   
    
    
    
}

.title-cover{
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal; 
   color: white;
}

.text-cover{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
   
}

/*Paramètre de la section à propos de nous*/



.container-aboutUs {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 0px;
    width: 100%;
    height: 100%;


.text-content-white {
display: flex;
flex-direction: column;
position: absolute;
margin-right: 20px;
right: 0;
width: 50%;

}

.image {
   max-width: 30%;
    height: auto;
    border: 2px solid #000;
    justify-content: center;
    margin-left: 50px;
    border-radius: 40px;
    
}

.btn-article {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
}

/*paramètrage des textes articles*/

.title, .paragraphe {
    font-family: "Oufit", sans-serif;
    
}

/*Paramètre Animals*/

.animals {
    background-color: #E0E4EB;
    
.title-animals {
    display: flex;
    justify-content: center;
}


    







}