


/*Paramètres CSS de la page d'accueil*/


html {
    min-height: 100%;
    position: relative;
    
   }

main {
    margin-bottom: 90px;
    margin-top: 0px;

    
    
    
}

/*Réglage du header*/
nav {
    background-color: #2A2B2E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-bottom: 20px;
    font-family: "Oufit", sans-serif;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.7);
    
}

.logo{
    width: 80px;
    height: 80px;
}

/*Réglage du menu de navigation*/
.menu-hamburger {
    display: none;
    position: absolute;
    right: 30px;
    top:0px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;

}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
} 

  ul {
     list-style-type: none;
     display:flex;
     justify-content: center;
     padding:20px;
     flex: wrap;
    
     
     }

     ul li {
        margin: 0 10px;
    }
     a {
        text-decoration: none;
        color: white;
     }



/*Réglage du body*/
body {
    
    flex-direction: column;
    margin: 0;
}

    



/*Réglage du footer*/
footer{
    background-color: #2A2B2E;
    text-align: center;
    color: white;
    display: flex;
   justify-content: space-around;
      position: absolute;
    padding: 0px;
   bottom: 0px;
    margin: 0px;
    width: 100%;
    }


    /*Réglage du hero scène*/
    .hero-scene{
        position: relative;
        margin-bottom: 20px;
        padding:0px;
        width: auto;
        height: 90vh;
        
        
        &::before{
            content:"";
            position: absolute;
            top: 0px;
            left:0;
            width: 100%;
            height: 100%;
            background-image: url(../Images/HEAD_ZEBRE.jpg);
            background-position:center;
            background-size: cover;
            filter: brightness(0.3);
            
           
            
        }
*{
    /*Positionner les éléments devant le ::before*/
    position: relative;
    
}

/*Paramètre du contenant de la cover*/
.hero-scene-content{
    height: 500px;
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
  
}

.btn-cover{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
    
    
}
}


/*Paramètre des boutons*/
.btn {
    background-color: #52B207;
    color: white;
    border-radius: 40px;
    width: 90px;
    height: 25px;
}




.title-green {
    font-family: "Indie Flower", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #52B207;
   
    
    
    
}

.title-cover{
   font-family: "Outfit", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal; 
   color: white;
}

.text-cover{
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
   
}




/*Paramètre de la section à propos de nous*/
.container-aboutUs {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 0%;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;


.text-content-white {
display: flex;
flex-direction: column;
position: absolute;
margin-right: 20px;
right: 0;
width: 50%;

}

.image-aPropos {
   max-width: 30%;
    height: auto;
    justify-content: center;
    margin-left: 50px;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
}

.btn-article {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
}

/*paramètrage des textes articles*/

.title, .paragraphe {
    font-family: "Oufit", sans-serif;
    
}




/*Paramètre Animals*/
.animals {
    background-color: #E0E4EB;
    display: flex;
    flex-direction: column;
    
   
    
.title-animals, .title{
    display: flex;
    justify-content: center;
   
    
}

.animal-card {
    display:flex;
    justify-content: center;
    padding: 20px;
    
}

    }

  /*Bouton je découvre "nos espèces"*/

.btn-animals {
    display: flex;
    justify-content: center;
    padding: 20px;
}



/*Section Leur habitat*/
.habitat {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
 .title-habitat {
    width: 45%;
    padding: 40px;
 }

 .image-habitat {
border-radius: 40px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
   margin-left: 25%;
    }

    .btn-habitat {
        display: flex; 
        justify-content: center;
        padding: 50px;
    }

}


/*Section nos Services*/
.container-service {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px; 
    margin-bottom: 20px;
    background-color:#52B207;
}



.service {
    display: flex;
    justify-content: space-around;
}

.image-circle {
    border-radius: 50%;
    
    
}

.title-white{
    font-family: "Indie Flower", system-ui;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.title-service {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
   font-family: "Outfit", sans-serif;
}



.train {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lien {
    display: flex;
    justify-content: center;
    
}

.link {
    text-decoration: none;
        color: white;
        font-family: "Outfit", sans-serif;
}


/*Section avis*/

.container-review {
    padding: 0px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.title-review {
    display: flex;
    justify-content: center;
    
   
    
}

.second-title-review {
    display: flex;
    justify-content: center; 
    font-family: "Outfit", sans-serif;
    padding: 0px;
    margin-top: 0px;
}

.card-grid{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    
   
}
.card-review {
    
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
    
}

.pic-profil {
    border-radius: 50%;
}

.stars {
    color:#52B207;
    display: flex;
    justify-content: center;
    
}

h3, .text-review{
    display: flex;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}

.date {
    color:#2A2B2E;
    font-size: 12px;
    display: flex;
    justify-content: center;
}


/*Section du formmulaire d'avis*/
.container-form {
    display: flex;
    width: 100%;
    height: auto;
    
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color:#E0E4EB;
   
}

.review-form {
    display: flex;
    
    }

.name-form {
    display: flex;
    flex-direction: column;
    padding: 20px
}

textarea {
    width: 400px;
    height: 100px;
}

.button-form{
    display: flex;
    justify-content: center;
    padding: 20px;
}







/* Mobile styles - Menu burger */
@media (max-width: 768px) {
.navbar .menu-hamburger {
    display: block;
    z-index: 110;
   
    
    
}


.nav-links{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color:rgba(253, 253, 253, 0.33);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    z-index:100;
    padding: 0;
    margin-top: 0;
 justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-left: -100%;

    transition: all 0.5s ease;
    
    
}

.mobile-menu {
    margin-left: 0;
   
}

li {
    padding: 20px;
}
}